.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.entry-forms-main-card {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.entry-form-content-card {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}
.entry-forms-main-heading {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}
.entry-forms-settings-main-card {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}
.entry-forms-categories-card {
    width: 20%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    background-color: #201f21a8;
    border-radius: 10px;
    /* padding: 10px 0px; */
}
.category-icon {
    font-size: 17px;
    margin: 10px;
}
.manage-categories-main-card {
    width: 75%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #201f21a8;
    border-radius: 10px;
    overflow-y: auto;
}
.categories-manage-header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-bottom: 2px solid #6c6c6c;
    padding-bottom: 20px;
}
.manage-products-main-ul-card {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.add-product-card {
    background-color: transparent;
    height: 300px;
    width: 26%;
    border: dotted;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #ff6c23a8;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.add-product-sub-card{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ff6c23a8;
    margin-top: 25px;
}
.edit-product-card {
    background-color: transparent;
    height: 300px;
    width: 26%;
    border: 1px solid #d2d2d2a8;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.edit-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.edit-button-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f7724a31;
    color: #fd5501a8;
}
.edit-dish-name-styles{
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}
.edit-dish-price-styles{
    font-size: 12px;
    font-weight: 400;
    color: #dedede;
}

.popup-container {
    background-color: #ffffff;
    bottom: 500px;
    width: 300px;
    height: 300px;
}

.model-input-label {
    font-size: 17px; font-weight: 500;color: #343434; margin-bottom: 5px;
}
.model-input-card {
    height: 40px;
    border-radius: 5px;
    color: #343434;
    padding: 3px;
    border: 1px solid #343434;
}
.model-selct-card {
    width: 100%;
    height: 40px;
    color: #343434;
    border-radius: 5px
}
.model-button-card {
    background-color: #f28459;
    border-radius: 10px;
    margin-top: 20px;
}

.edit-catgeory-sub-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.users-username-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-right: 20px;
}

.user-name-label {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #e0e0e0;
}
.user-name-input-card {
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #a8a8a8;
    color: #ffffff;
    padding-left: 5px;
}


.users-main-card {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}